#bio-section{
  margin-bottom: 30px;
  padding-top: 100px;
  height: 100vh;
  width: 90%;
  margin-right: auto;
  margin-left: auto;

}

.bio-container{
  padding: 10px;
  border: 1px gray solid;
}

#bio-section h2 {
  font-size: 35px;
}

@media screen and (min-width: 375px){
  .bio p {
    font-size: 20px;
  }
  
}

@media screen and (min-width: 768px){
  #bio-section{
    padding-top: 90px;
  }

  #bio-section h2 {
    font-size: 44px;
  }
}